---
---
<div class="py-8 max-w-screen-xl mx-auto bg-amber-100 text-indigo-600">
    <div class="grid grid-cols-3 justify-items-center pb-8 text-lg">
        <section></section>
        <section>Lavet med masser af hårdt arbejde af Sten Simons</section>
        <section></section>
    </div>
    <div class="flex justify-center text-xs">
        <p>Copyright 2025 Sten Simons & forlaget Mellem Linjerne</p>
    </div>
</div>
